<!-- <img appAnimation src="/assets/logotip.png" height="170" width="200" alt="logotip"> -->
<!-- <div>

</div> -->
<div class="containers">
  <!-- <div class="back">
    <img src="/assets/home.jpg" alt="main">
  </div> -->
  <div class="animation__clouds">
    <img appClouds left="-190px" top="0px" src="/assets/street.png" alt="animation" height="220" width="390">
    <img appClouds left="0px" top="-100px" src="/assets/street.png" alt="animation" height="220" width="390">
    <img appClouds left="190px" top="0px" src="/assets/street.png" alt="animation" height="220" width="390">
    <img appClouds left="0px" top="100px" src="/assets/street.png" alt="animation" height="240" width="390">
    <img appClouds left="-10px" top="0px" src="/assets/street.png" alt="animation" height="240" width="390">
    <img appClouds left="10px" top="0px" src="/assets/street.png" alt="animation" height="240" width="390">
  </div>
  <div class="logotip">
    <div class="container__logo">
      <img src="/assets/logotip.png" height="120" width="140" alt="logotip">
      <span>Центр Питания БНТУ</span>
    </div>
  </div>
  <div class="firstitem" appScroll delay="1" left="280px">
    <div class="text">
      <h2>
        Сеть питания БНТУ осуществляет важную социальную функцию – организацию
      питания учащейся молодёжи крупнейшего технического вуза Беларуси – БНТУ.
      </h2>
    </div>
    <div class="line">
    </div>
  </div>
  <div class="seconditem" appScroll delay="0" left="-280px">
    <div class="text">
      <h2>
        Ежедневно объектами питания университета
        обслуживается около 8-ми тысяч человек,
        в том числе 400 курсантов Военно - технического факультета
      </h2>
    </div>
    <div class="line">
    </div>
  </div>
</div>
<router-outlet></router-outlet>
